include LICENSE
include MANIFEST.in
include Makefile
include README.rst
include partify.py
recursive-include bin *
recursive-include partify/templates *
recursive-include partify/forms *
recursive-include partify/js *
recursive-include partify/static *
recursive-include tests *.py
recursive-include testing *.py
