/*
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
*/

div#topbar_user_info > * {
    margin-right: 10px;
}

div#topbar_user_info > img {
    position: relative;
    top: -5px;
}
p.divider {
    color: #888;
}

div#content_container{
    background: #272822;
    padding: 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #1f1f1f;
}

h1, h2, h3, h4 {
    color: #FD971F;
    font-family: "Comfortaa", sans-serif;
}

table {
    border: 1px solid #49483E;
}

thead th{
    background: #676862;
    text-align: left;
    font-weight: normal;
}

tbody tr td {
    background: #313131;
}

tbody tr:nth-child(even) td, 
tbody tr.even td{
    background: #383838;
}
