/*
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
*/

/* basic styles */

body {
    background: url('/static/img/player/bg.png') #1f1f1f;
    background-repeat:no-repeat;
    background-position: top center;
    color: #F8F8F2;
}

a {
    color: #A6E22E;
}
a:hover{
    color: #A6E22E;
}

.logo {
    color: #FD971F;
    font-family: "Comfortaa", sans-serif;
}

div#topbar {
    background-color: #272822;
    border-bottom: 1px solid #6A4A00;
}

/* Not-logged-in styles */

div#unauth_container{
    text-align: center;
    margin-left: auto; margin-right: auto;
}

div#unauth_form_container{
    background: #272822;
}

div#penguin {
    background: url('/static/img/penguin.png');
    background-repeat: no-repeat;
    width: 172px;
    height: 215px;
    position: absolute;
    z-index: -10;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0 auto;
    background-position: bottom right;
}

.ui-icon-loading {
    background-image: url('/static/img/loading.gif') !important;
}