/*
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
*/

.player_time {
    font-style:italic;
}

th > a {
    color: #F8F8F2;
    text-decoration: none;
    cursor: pointer;
}

div#player_status {
    margin: 12px;
}

div.track_details {
    
}
div.track_details + div.track_details {
    
}

div#player_progress {
    height: 12px;
}

div#played_by_container > div {
    float:left;
    display: inline;
}
div#played_by_container > div + div{
    padding-left: 1em;
}

ul.queue{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.queue_header {
    margin-bottom: .2em;
    height: 24px;
    line-height: 24px;
}

li.queue_item{
    margin-bottom: 3px;
    height: 24px;
    line-height: 24px;
}

li.queue_item:nth-child(even){
    background: #393831;
}

li.queue_item > span:not(.grip){
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

span.grip{
    margin-top: .3em;
    margin-right: .2em;
}

li.queue_header > span.padder{
    background: #272822;
    margin-top: .3em;
    width: 0px;
}

li.queue_item > span.padder{
    background: #272822 !important;
    margin-top: .3em;
    width: 0px;
}

tbody tr.disabled,
tbody tr.disabled td {
    background: #9a9a9a;
}

td.results_empty {
    background: #272822;
}

/* these min-heights needs to be here because of a jQuery UI bug */
button.add_btn,
button#page_left,
button#page_right,
button.vote_up_button,
button.vote_down_button
{
    min-height: 19px;
    width: 18px;
    vertical-align: middle;
    border: 1px solid #1f1f1f !important;
}
button.vote_up_button span,
button.vote_down_button span
{
    left: 0em !important;
}
button.rm_btn{
    min-height: 18px;
    width: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid #1f1f1f !important;
}
button.album_add_btn,
input[type='submit']{
    border: 1px solid #1f1f1f !important;
}

.queue-placeholder {
    height: 24px;
    line-height: 24px;
    width: 910px;
    float: left;
    background: #272822;
}

.ui-state-highlight {
    height: 24px;
    line-height: 24px;
}

/* override some of the bad jQuery UI styles */
.ui-progressbar{
    border: 1px solid #49483E;
}
.ui-progressbar-value{
    background: #FD971F;
}
ul.ui-tabs-nav li:first-child{
    margin-left: 18px;
}
div#tabs ul{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

table#results_table tbody tr td{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
}

table#results_table tbody tr td.result_title,
table#results_table tbody tr td.result_artist,
table#results_table tbody tr td.result_album {
    max-width: 270px;
}

div#history_widget a,
div#history_widget a:hover{
    color: #A6E22E;
}


table#results_table tbody tr td.result_time,
table#results_table tbody tr td.result_track,
table#results_table tbody tr td.result_add {
    width: 30px;
}

table#results_table tbody tr td.album_details {
    vertical-align: text-top;
    margin: 1em;
    padding-top: 10px;
}

table#results_table tbody tr td.result_album,
table#results_table thead tr th:first-child {
    padding-left: 10px;
}

table#results_table tbody tr td.album_seperator {
    border-top: 1px solid #222;
}

/* Search results highlighting */
table#results_table td.highlight {
    background: #515151;
}

table#results_table tbody tr td a:visited,
table#results_table tbody tr td a{
    text-decoration: none ;
}
table#results_table tbody tr td a {
    border-bottom: 1px solid #515151;
}
table#results_table tbody tr td a:hover {
    text-decoration: underline;
}

img.album_image {
    width: 174px;
    height: 174px;
    box-shadow: -2px 5px 10px 3px #222;
    -moz-box-shadow: -2px 5px 10px 3px #222;
    -webkit-box-shadow: -2px 5px 10px 3px #222;
    vertical-align: top;
}

span#history_last_updated,
span#statistics_last_updated,
span#page_info {
    font-style: italic;
}

span#history_last_updated,
span#statistics_last_updated,
span#ipp_selector,
span#page_info,
span#page_selector {
    margin-bottom: 5px !important;
}

abbr {
    border: 0px !important;
}

span.darker {
    color: #999;
}

div#stats_widget h4 {
    margin-bottom: .25em;
}

div.top_stat {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

div.stat_border {
    border: 1px solid #414141;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
}