div#content_container{
    background: #272822;
    padding: 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #000000;
}

.player_time {
    font-style:italic;
}

div#player_status {
    margin: 12px;
}

div.track_details {
    
}
div.track_details + div.track_details {
    
}

div#player_progress {
    height: 12px;
}

div#played_by_container > div {
    float:left;
    display: inline;
}
div#played_by_container > div + div{
    padding-left: 1em;
}

div.party_queue_item > div{
    display: inline;
    float: left;
}
div.party_queue_item > div + div{
    padding-left: 1em;
}

table {
    border: 1px solid #49483E;
}

thead th{
    background: #676862;
    text-align: left;
    font-weight: normal;
}

tbody tr td {
    background: #313131;
}

tbody tr:nth-child(even) td, 
tbody tr.even td{
    background: #383838;
}

tbody tr.disabled,
tbody tr.disabled td {
    background: #9a9a9a;
}

td.results_empty {
    background: #272822;
}

button.add_btn{
    height: 19px;
    width: 18px;
    vertical-align: middle;
    border: 1px solid #1f1f1f !important;
}

/* override some of the bad jQuery UI styles */
.ui-progressbar{
    border: 1px solid #49483E;
}
.ui-progressbar-value{
    background: #FD971F;
}