<!--
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
-->

{% macro css_include(path) %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=path) }}">{% endmacro %}
{% macro js_include(path) %}<script type="text/javascript" src="{{ url_for('static', filename=path) }}"></script>{% endmacro %}
{% macro blueprint_include() %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/screen.css') }}" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/print.css') }}" type="text/css" media="print"> 
<!--[if lt IE 8]>
<link rel="stylesheet" href="{{ url_for('static', filename='css/blueprint/ie.css') }}" type="text/css" media="screen, projection">
<![endif]-->
{% endmacro %}

{% macro render_field(field) %}
<div span="clear prepend-6 span-6">{{ field.label }}</div>
<div span="span-6 append-6 last">{{ field(**kwargs)|safe}}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
    {% endif %}
</div>
{% endmacro %}