<!--
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends "i_love_this_web_thing.html" %}
{% from "_util.html" import css_include, js_include, render_field %}
{% from "common.html" import show_topbar %}

{% macro show_configuration_form() %}
<div class="span-22 prepend-1 append-1 last">
	<h4>Configuration</h4>
	<form method="POST" action="{{url_for('configuration_update')}}">
		{{ render_field(configuration_form.selection_scheme) }}
		{{ render_field(configuration_form.mpd_server_hostname) }}
		{{ render_field(configuration_form.mpd_server_port) }}
		{{ render_field(configuration_form.server) }}
		{{ render_field(configuration_form.server_host) }}
		{{ render_field(configuration_form.server_port) }}
		{{ render_field(configuration_form.lastfm_api_key) }}
		{{ render_field(configuration_form.lastfm_api_secret) }}
		<input type="submit" value="Update">
	</form>
</div>
<hr />
{% endmacro %}

{% macro show_player_controls() %}
<div class="span-22 prepend-1 append-1 last">
	<h4>Player Controls</h4>
	<a href="{{url_for('admin_playback_skip')}}">Skip Track</a><br/>
	<a href="{{url_for('admin_playback_pause')}}">Pause</a><br />
	<a href="{{url_for('admin_playback_play')}}">Play</a><br />
	<a href="{{url_for('admin_queue_clear')}}">Clear the Party Queue</a>
</div>
<hr />
{% endmacro %}

{% macro show_admin_admin() %}
<div class="span-22 prepend-1 append-1 last">
	<h4>User Administration</h4>
	<form method="POST" action="{{url_for('admin_admin_update')}}">
		<div class="span-22 last">
			<table class="span-22 last">
				<thead>
					<tr>
						{% set first_user_id = admin_admin_forms.iterkeys() | first %}
						{% set first_user_form = admin_admin_forms.itervalues() | first %}
						<th><strong>User</strong></th>
						<th><center>{{ first_user_form['%d_admin_config' % first_user_id].label }}</center></th>
						<th><center>{{ first_user_form['%d_admin_playback' % first_user_id].label }}</center></th>
						<th><center>{{ first_user_form['%d_admin_admin' % first_user_id].label }}</center></th>
						<th><center>{{ first_user_form['%d_admin_interface' % first_user_id].label }}</center></th>
					</tr>
				</thead>
				<tbody>
				{% for user_id, form in admin_admin_forms.iteritems() %}
					{{ build_admin_admin_row(user_ids_to_names[user_id], user_id, form) }}
				{% endfor %}
				</tbody>
			</table>
		</div>
		<input type="submit" value="Update">
	</form>
</div>
<hr />
{% endmacro %}

{% macro build_admin_admin_row(username, user_id, form) %}
<tr>
	<td>{{username}}</td>
	<td><center>{{ form['%d_admin_config' % user_id] | safe }}</center></td>
	<td><center>{{ form['%d_admin_playback' % user_id] | safe }}</center></td>
	<td><center>{{ form['%d_admin_admin' % user_id] | safe }}</center></td>
	<td><center>{{ form['%d_admin_interface' % user_id] | safe }}</center></td>
</tr>
{% endmacro %}

{% block css_head %}
	{{ css_include('css/admin.css') }}
{% endblock %}

{% block title %}
Admin - Partify
{% endblock %}

{% block super_body %}

{{ show_topbar(user, false, true) }}

<div id="content_all" style="width:100%; height:100%">
    <div class="container prepend-top" id="content_container">
        <div class="span-24 last" id="content">
        	<div class="span-22 prepend-1 append-1 last">
        		<h2>Administration</h2>
        	</div>
        	{% if "ADMIN_PLAYBACK" in user_privs %}
        		{{ show_player_controls() }}
        	{% endif %}
        	{% if "ADMIN_CONFIG" in user_privs %}
				{{ show_configuration_form() }}
			{% endif %}
        	{% if "ADMIN_ADMIN" in user_privs %}
        		{{ show_admin_admin() }}
        	{% endif %}
        </div>
    </div>
</div>

{% endblock %}