<!--
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends "i_love_this_web_thing.html" %}

{% block title %} 
{% block sub_title %}{% endblock %} - Partify
{% endblock %}

{% block super_body %}

<div id="unauth_container" class="container">

    <div id="unauth_header" class="prepend-top prepend-6 span-12 append-6 last">
        <h1 class="logo">Partify</h1>
        <h3 class="logo">Social Music at Your Control</h3>
    </div>

    {% block body %}
    {% endblock %}
</div>

{% endblock %}