<!--
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
-->


{% macro show_topbar(user, show_admin, show_player) %}
<!-- Topbar - Logo & account settings -->
<div id="topbar" style="width:100%; height:44px">
    <div class="container">
    <div class="prepend-top append-bottom span-24 last">
        <div id="topbar_logo" class="span-9">
            <h3 class="logo">Partify - Social Music at Your Control</h3>
        </div>
        <div id="topbar_user_info" class="prepend-1 span-14 last">
            <a class="right" href="/logout">Logout</a>
            <p class="right divider"> | </p>
            <a class="right" href="{{url_for('account_settings_page')}}">Account settings</a>
            <p class="right divider"> | </p>
            {% if show_admin %}
                <a class="right" href="/admin">Admin</a>
                <p class="right divider"> | </p>
            {% endif %}
            {% if show_player %}
                <a class="right" href="/player">Player</a>
                <p class="right divider"> | </p>
            {% endif %}
            <p class="right">{{user.name}}</p>
            <img class="right" src="http://robohash.org/{{ user.username }}.png?set=any&bgset=any&size=25x25" />
        </div>
    </div>
    </div>
</div>
{% endmacro %}