{% from "_util.html" import blueprint_include, css_include %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {{ blueprint_include() }}

    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>

    <!-- Custom theming -->
    {{ css_include('css/partify.css') }}

    {% block css_head %}{% endblock %}

    {% block js_head %}{% endblock %}

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block super_body %}
    {% endblock %}
    <div id="penguin">&nbsp;</div>
</body>
</html>