<!--
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends "i_love_this_web_thing.html" %}
{% from "_util.html" import css_include, js_include %}
{% from "common.html" import show_topbar %}

{% block css_head %}
    {{ css_include('css/jquery-ui/partify/jquery-ui-1.8.14.custom.css') }}
    {{ css_include('css/player.css') }}
{% endblock %}

{% block js_head %}
    {{ js_include('js/lib/jquery-1.6.2.js') }}
    {{ js_include('js/lib/jquery-ui-1.8.14.custom.min.js') }}
    {{ js_include('js/lib/jquery.timeago.js')}}
    {{ js_include('js/lib/lastfm.api.md5.js') }}
    {{ js_include('js/lib/lastfm.api.js') }}
    {{ js_include('js/lib/lastfm.api.cache.js') }}
    {{ js_include('js/partify/player.js') }}
    <script type="text/javascript">
        config_lastfm_api_key = '{{ config.lastfm_api_key }}';
        config_lastfm_api_secret = '{{ config.lastfm_api_secret }}';
        config_user_id = {{ user.id }};
        config_voting_enabled = {{ voting_enabled | lower }}
    </script>
{% endblock %}

{% block title %}
Player - Partify
{% endblock %}

{% block super_body %}

{{ show_topbar(user, "ADMIN_INTERFACE" in user_privs, false) }}

<div id="content_all" style="width:100%; height:100%">
    <div class="container prepend-top" id="content_container">
        <div class="span-24 last" id="content">
            <!-- Player status - shows what's playing and how long it's been playing for -->
            <div id="player_status" class="append-bottom span-23 last">
                <!-- The labels hanging out about the player and the played by cols -->
                <!--<div class="player_header span-16"><i>Now Playing...</i></div>
                <div class="player_header span-8 last"><i>Played By</i></div>-->

                <div id="player_container" class="span-16">
                    <div id="player_image_container" class="span-3">
                        <img id="now_playing_artist_image" class="span-3" src="" />&nbsp;
                    </div>
                    <div id="player_status_container" class="span-13 last">
                        <div id="player_track_info" class="span-13 last">
                            <div class="track_details span-7">
                                <b>Artist:</b> <span id="player_info_artist"></span><br />
                                <b>Track:</b> <span id="player_info_title"></span>
                            </div>
                            <div class="track_details span-6 last">
                                <b>Album:</b> <span id="player_info_album"></span><br />
                                <b>Year:</b> <span id="player_info_date"></span>
                            </div>
                        </div>
                        <div id="player_track_times" class="span-13 last">
                            <span id="player_info_elapsed" class="player_time left"></span>
                            <span id="player_info_time" class="player_time right"></span>
                        </div>
                        <div id="player_progress" class="span-13 last"></div>
                    </div>
                </div>
                <div class="span-1">
                &nbsp;
                </div>
                <div id="played_by_container" class="span-6 last">
                    <div id="user_avatar_container"><img id="player_info_user_avatar" src="" /></div>
                    <div>
                        <div style="float:left; margin-bottom: 10px"><b><span id="player_info_user_name">{{user.username}}</span></b></div>
                        <div style="clear:both; float: left" class="small" id="player_info_skip_div"></div>
                        <div style="claer:both; float: left" class="small" id="player_info_vote_div"></div>
                    </div>
                </div>
                <div id="on_deck" class="span-23 last">
                    <span class="logo">Up Next: </span>
                    <span id="up_next_tracks">
                    
                    </span>
                </div>
            </div>

            <!-- The content view -->
            <div id="tabs_container" class="span-24 last">
                <div id="tabs">
                    <ul>
                        <li><a href="#user_queue_tab">My Queue</a></li>
                        <li><a href="#add_track">Add a Track</a></li>
                        <li><a href="#party_queue_tab">Party Queue</a></li>
                        <li><a href="#history_stats_tab">History &amp; Statistics</a></li>
                    </ul>
                    <div id="user_queue_tab">
                        <div class="container">
                            <ul id="user_queue" class="span-23 last">
                                
                            </ul>
                        </div>
                    </div>
                    <div id="add_track">
                        <div class="span-24 append-bottom last">
                            <form id="track_search_form" method="GET">
                                <span style="float: left; margin-right: 10px"><label for='search_artist'>Artist:</label><br />
                                <input type="text" name="search_artist" id="search_artist" /></span>
                                <span style="float: left; margin-right: 10px"><label for='search_title'>Title:</label><br />
                                <input type="text" name="search_title" id="search_title" /></span>
                                <span style="float: left"><label for='search_album'>Album:</label><br />
                                <input type="text" name="search_album" id="search_album" /></span>
                                <div style="clear: both">
                                <input style="clear: both" type="submit" value="Search" /></div>
                            </form>
                        </div>
                        <div class="container span-24 last">
                            <table id="results_table" class="span-23 last">
                                <thead>
                                    <tr>
                                        <th id="results_header_album"><a>Album</a></th>
                                        <th id="results_header_artist"><a>Artist</a></th>
                                        <th id="results_header_title"><a>Title</a></th>
                                        <th id="results_header_length"><a>Length</a></th>
                                        <th id="results_header_track_no"><a>#</a></th>
                                        <th> Add </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="6" class="small results_empty"><center><em>No results yet. You can search using the form at the top of the tab.</em></center></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="party_queue_tab">
                        <div class="container">
                            <ul id="party_queue" class="span-23 last">
                                
                            </ul>
                        </div>
                    </div>
                    <div id="history_stats_tab">
                        
                        <div class="container">
                            <div class="span-23 last append-bottom prepend-top">
                                <h3>History</h3>
                                <div id="history_widget" class="span-23 last">

                                </div>
                            </div>
                            <div class="span-23 last">
                                <h3>Statistics</h3>
                                <div id="stats_widget" class="span-23 last">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}