<!--
Copyright 2011 Fred Hatfull

This file is part of Partify.

Partify is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Partify is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Partify.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends "base_unauth.html" %}

{% from "_util.html" import render_field %}

{% block sub_title %}
Register
{% endblock %}

{% block body %}

<div id="unauth_form_container" class="container prepend-top">
    <div id="unauth_registration_form" class="prepend-6 span-12 append-6 last">
        <form method="POST" action="{{url_for('register_post')}}">
            {{ render_field(form.name) }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <input type="submit" value="Register">
        </form>
    </div>
    <div id="unauth_login_footer" class="prepend-top prepend-6 span-12 append-6 last">
        <p class="small"><a href="{{url_for('login_form')}}">Login</a></p>
    </div>
</div>
{% endblock %}